<app-auditionheader></app-auditionheader>
<div  class="" >
    <div class="">
       <div class="container menu-back">
         <div class="modal-header">
           <h2>Categories</h2>
          
         </div>
           <div class="modal-body">
         <div class="modal-text-ab">
                   <div class="row">
                       <div class="col-md-12">
                           <div class="ab-md-text">
                              <h2 class="about-header">WE ARE LOOKING FOR TALENTS<span class="about-header-span"> Aged between 6 to 55</span></h2>  
                   <h3>Contract Value upto <span class="color-yellow"> 50 Lakh</span></h3>  
                   <p>It’s a brave new world out there. Never has the entertainment industry been in such an overwhelming state of flux as now. The ‘world’ is literally a stage today. And technology has played a pivotal role in this revolution.</p>
                           </div>
                       </div>
                            
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="ab-md-text">
                               <h4 class="ac-dc-header">Actor</h4>
                              <h2 class="about-header">SENIOR GROUP<span class="about-header-span"></span></h2>  
                   <h3>Registration Fees : 2500/-<!--<span class="color-yellow">for NIC</span>--></h3> 
                   <p>For this category Physical & Online contest will be held for talented
                       individuals between the age group of 13 – 55 years. A total number of 72
                       actors (36 males and 36 females, pan India) will be selected. On the
                       basis of the performances in the contest, the celebrity judges will
                       group the candidates into Ranks – 1st to 6th. Netwood will sign five
                       year contract with each actor, both male and female from each rank. The
                       amount for which the contracts will be signed will vary depending on the
                       ranks in which the actor has been selected. The amount chart and number
                       of candidates to be selected in the following ranks for English, Hindi
                       and regional language content is given below...</p>
                           </div>
                       </div>
                       
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="et_pb_text_inner">
                               <table class="table-responsive">
                               <thead>
                               <tr>
                               <td center=""><strong>Rank</strong></td>
                               <td><strong>To be Selected for English &amp; Hindi</strong></td>
                               <td><strong>Contract Value (upto)</strong></td>
                               <td center=""><strong>Rank</strong></td>
                               <td><strong>To be Selected for Regional Language</strong></td>
                               <td><strong>Contract Value (upto)</strong></td>
                               </tr>
                               </thead>
                               <tbody>
                               <tr>
                               <td>1</td>
                               <td>1 Male &amp; 1 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;50,00,000</td>
                               <td>4</td>
                               <td>11 Male &amp; 11 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;35,00,000</td>
                               </tr>
                               <tr>
                               <td>2</td>
                               <td>1 Male &amp; 1 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;40,00,000</td>
                               <td>5</td>
                               <td>11 Male &amp; 11 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;25,00,000</td>
                               </tr>
                               <tr>
                               <td>3</td>
                               <td>1 Male &amp; 1 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;30,00,000</td>
                               <td>6</td>
                               <td>11 Male &amp; 11 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;15,00,000</td>
                               </tr>
                               </tbody>
                               </table>
                               <h4 center=""></h4></div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="ab-md-text">
                              <h2 class="about-header">JUNIOR GROUP<span class="about-header-span"></span></h2> 
                               <h3>Registration Fees : 1200/-<span class="color-yellow">for NIC</span></h3> 
                               <p>There will be another set of Stars Hunt for children between the age group of 6 – 12 years.</p>
                           </div>
                       </div>
                       
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="et_pb_text_inner">
                               <table class="table-responsive">
                               <thead>
                               <tr>
                               <td center=""><strong>Rank</strong></td>
                               <td><strong>To be Selected for English &amp; Hindi</strong></td>
                               <td><strong>Contract Value (upto)</strong></td>
                               <td center=""><strong>Rank</strong></td>
                               <td><strong>To be Selected for Regional Language</strong></td>
                               <td><strong>Contract Value (upto)</strong></td>
                               </tr>
                               </thead>
                               <tbody>
                               <tr>
                               <td>1</td>
                               <td>1 Male &amp; 1 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;20,00,000</td>
                               <td>4</td>
                               <td>11 Male &amp; 11 Female</td>
                               <td><img src="../assets/images/rupee.png" width="7" height="11">&nbsp;15,00,000</td>
                               </tr>
                               <tr>
                               <td>2</td>
                               <td>1 Male &amp; 1 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;13,00,000</td>
                               <td>5</td>
                               <td>11 Male &amp; 11 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;10,00,000</td>
                               </tr>
                               <tr>
                               <td>3</td>
                               <td>1 Male &amp; 1 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;8,00,000</td>
                               <td>6</td>
                               <td>11 Male &amp; 11 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;2,50,000</td>
                               </tr>
                               </tbody>
                               </table>
                               <h4 center=""></h4>
                               <h6>*If you choose Online mode as your preferred appearance, you must upload
                               a 2 min video starting with your Name, State, Category and Registration
                               ID with your performance. Video must be shot with a fix camera. Avoid
                               any unnecessary video effect to your performance in case you use any
                               editing app or software. Violation of the same will lead to
                               disqualification.</h6>
                               <h6>*T&amp;C apply</h6>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="ab-md-text">
                               <h4 class="ac-dc-header">SINGER</h4>
                              <h2 class="about-header">SENIOR GROUP<span class="about-header-span"></span></h2>  
                   <h3>Registration Fees : 2000/-<!--<span class="color-yellow">for NIC</span>--></h3> 
                   <p>For this category Physical & Online contest will be held for talented
                   individuals between the age group of 13 – 55 years. A total number of 72
                   singers (36 males and 36 females, pan India) will be selected. On the
                   basis of the performances in the contest, the celebrity judges will
                   group the candidates into Ranks – 1st to 6th. Netwood will sign five
                   year contract with each singer, both male and female from each rank. The
                   amount for which the contracts will be signed will vary depending on the
                   rank in which the singer has been selected. The amount chart and number
                   of candidates to be selected in each rank for English, Hindi and
                   regional language content is given below.</p>
                           </div>
                       </div>
                       
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="et_pb_text_inner">
                               <table class="table-responsive">
                               <thead>
                               <tr>
                               <td center=""><strong>Rank</strong></td>
                               <td><strong>To be Selected for English &amp; Hindi</strong></td>
                               <td><strong>Contract Value (upto)</strong></td>
                               <td center=""><strong>Rank</strong></td>
                               <td><strong>To be Selected for Regional Language</strong></td>
                               <td><strong>Contract Value (upto)</strong></td>
                               </tr>
                               </thead>
                               <tbody>
                               <tr>
                               <td>1</td>
                               <td>1 Male &amp; 1 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;40,00,000</td>
                               <td>4</td>
                               <td>11 Male &amp; 11 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;30,00,000</td>
                               </tr>
                               <tr>
                               <td>2</td>
                               <td>1 Male &amp; 1 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;25,00,000</td>
                               <td>5</td>
                               <td>11 Male &amp; 11 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;20,00,000</td>
                               </tr>
                               <tr>
                               <td>3</td>
                               <td>1 Male &amp; 1 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;15,00,000</td>
                               <td>6</td>
                               <td>11 Male &amp; 11 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;10,00,000</td>
                               </tr>
                               </tbody>
                               </table>
                               <h4 center=""></h4></div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="ab-md-text">
                              <h2 class="about-header">JUNIOR GROUP<span class="about-header-span"></span></h2>
                               <h3>Registration Fees : 1200/-<!--<span class="color-yellow">for NIC</span>--></h3> 
                               <p>There will be another set of Stars Hunt for children between the age group of 6 – 12 years.</p>
                           </div>
                       </div>
                       
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="et_pb_text_inner">
                               <table class="table-responsive">
                               <thead>
                               <tr>
                               <td center=""><strong>Rank</strong></td>
                               <td><strong>To be Selected for English &amp; Hindi</strong></td>
                               <td><strong>Contract Value (upto)</strong></td>
                               <td center=""><strong>Rank</strong></td>
                               <td><strong>To be Selected for Regional Language</strong></td>
                               <td><strong>Contract Value (upto)</strong></td>
                               </tr>
                               </thead>
                               <tbody>
                               <tr>
                               <td>1</td>
                               <td>1 Male &amp; 1 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;20,00,000</td>
                               <td>4</td>
                               <td>11 Male &amp; 11 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;15,00,000</td>
                               </tr>
                               <tr>
                               <td>2</td>
                               <td>1 Male &amp; 1 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;13,00,000</td>
                               <td>5</td>
                               <td>11 Male &amp; 11 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;10,00,000</td>
                               </tr>
                               <tr>
                               <td>3</td>
                               <td>1 Male &amp; 1 Female</td>
                               <td><img src="../assets/images/rupee.png" width="7" height="11">&nbsp;8,00,000</td>
                               <td>6</td>
                               <td>11 Male &amp; 11 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;2,50,000</td>
                               </tr>
                               </tbody>
                               </table>
                               <h4 center=""></h4>
                               <h6>*If you choose Online mode as your preferred appearance, you must upload
                               a 2 min video starting with your Name, State, Category and Registration
                               ID with your performance. Video must be shot with a fix camera. Avoid
                               any unnecessary video effect to your performance in case you use any
                               editing app or software. Violation of the same will lead to
                               disqualification.</h6>
                               <h6>*T&amp;C apply</h6></div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="ab-md-text">
                               <h4 class="ac-dc-header">DANCER</h4>
                              <h2 class="about-header">SENIOR GROUP<span class="about-header-span"></span></h2>
                               <h3>Registration Fees : 1500/-<!--<span class="color-yellow">for NIC</span>--></h3> 
                               <p>For this category Physical & Online contest will be held for talented
                               individuals between the age group of 13 – 55 years. A total number of 72
                               dancers (36 males and 36 females, pan India) will be selected. On the
                               basis of the performances in the contest, the celebrity judges will
                               group the candidates into Ranks – 1st to 6th. Netwood will sign five
                               year contract with each dancer, both male and female from each rank. The
                               amount for which the contracts will be signed will vary depending on the
                               rank in which the dancer has been selected. The amount chart and number
                               of candidates to be selected in each rank for English, Hindi and
                               regional language content is given below.</p>
                           </div>
                       </div>
                       
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="et_pb_text_inner">
                               <table class="table-responsive">
                               <thead>
                               <tr>
                               <td center=""><b>Rank</b></td>
                               <td><strong>To be Selected for English &amp; Hindi</strong></td>
                               <td><strong>Contract Value (upto)</strong></td>
                               <td center=""><b>Rank</b></td>
                               <td><strong>To be Selected for Regional Language</strong></td>
                               <td><strong>Contract Value (upto)</strong></td>
                               </tr>
                               </thead>
                               <tbody>
                               <tr>
                               <td>1</td>
                               <td>1 Male &amp; 1 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;35,00,000</td>
                               <td>4</td>
                               <td>11 Male &amp; 11 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;25,00,000</td>
                               </tr>
                               <tr>
                               <td>2</td>
                               <td>1 Male &amp; 1 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;20,00,000</td>
                               <td>5</td>
                               <td>11 Male &amp; 11 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;15,00,000</td>
                               </tr>
                               <tr>
                               <td>3</td>
                               <td>1 Male &amp; 1 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;10,00,000</td>
                               <td>6</td>
                               <td>11 Male &amp; 11 Female</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;5,00,000</td>
                               </tr>
                               </tbody>
                               </table>
                               <h4 center=""></h4></div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="ab-md-text">
                              <h2 class="about-header">JUNIOR GROUP<span class="about-header-span"></span></h2>
                               <h3>Registration Fees : 1200/-<!--<span class="color-yellow">for NIC</span>--></h3> 
                               <p>There will be another set of Stars Hunt for children between the age group of 6 – 12 years.</p>
                           </div>
                       </div>
                       
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="et_pb_text_inner">
                            <table class="table-responsive">
                           <thead>
                           <tr>
                           <td center=""><b>Rank</b></td>
                           <td><strong>To be Selected for English &amp; Hindi</strong></td>
                           <td><strong>Contract Value (upto)</strong></td>
                           <td center=""><b>Rank</b></td>
                           <td><strong>To be Selected for Regional Language</strong></td>
                           <td><strong>Contract Value (upto)</strong></td>
                           </tr>
                           </thead>
                           <tbody>
                           <tr>
                           <td>1</td>
                           <td>1 Male &amp; 1 Female</td>
                           <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;20,00,000</td>
                           <td>4</td>
                           <td>11 Male &amp; 11 Female</td>
                           <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;15,00,000</td>
                           </tr>
                           <tr>
                           <td>2</td>
                           <td>1 Male &amp; 1 Female</td>
                           <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;13,00,000</td>
                           <td>5</td>
                           <td>11 Male &amp; 11 Female</td>
                           <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;10,00,000</td>
                           </tr>
                           <tr>
                           <td>3</td>
                           <td>1 Male &amp; 1 Female</td>
                           <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;8,00,000</td>
                           <td>6</td>
                           <td>11 Male &amp; 11 Female</td>
                           <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;2,50,000</td>
                           </tr>
                           </tbody>
                           </table>
                           <h4 center=""></h4>
                           <h6>*If you choose Online mode as your preferred appearance, you must upload
                           a 2 min video starting with your Name, State, Category and Registration
                           ID with your performance. Video must be shot with a fix camera. Avoid
                           any unnecessary video effect to your performance in case you use any
                           editing app or software. Violation of the same will lead to
                           disqualification.</h6>
                           <h6>*T&amp;C apply</h6></div>
                       </div>  
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="ab-md-text">
                               <h4 class="ac-dc-header">STAND UP COMEDIAN</h4>
                              <h2 class="about-header">SENIOR GROUP<span class="about-header-span"></span></h2>
                               <h3>Registration Fees : 1500/-<span class="color-yellow">for NIC</span></h3> 
                               <p>For this category<b> Physical & Online contest </b> will be held for talented
                               individuals between the age group of 13 – 55 years. A total number of 72
                               Stand-up Comedians (36 males and 36 females, pan India) will be
                               selected. On the basis of the performances in the contest, the celebrity
                               judges will group the candidates Ranks – 1st to 6th. Netwood will sign
                               five year contract with each Stand-up Comedians, both male and female
                               from each rank. The amount for which the contracts will be signed will
                               vary depending on the rank in which the Stand-up Comedians has been
                               selected. The amount chart and number of candidates to be selected in
                               each rank for English, Hindi and regional language content is given
                               below.</p>
                           </div>
                       </div>
                       
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="et_pb_text_inner">
                               <table class="table-responsive">
                           <thead>
                           <tr>
                           <td center=""><strong>Rank</strong></td>
                           <td><strong>To be Selected for English &amp; Hindi</strong></td>
                           <td><strong>Contract Value (upto)</strong></td>
                           <td center=""><strong>Rank</strong></td>
                           <td><strong>To be Selected for Regional Language</strong></td>
                           <td><strong>Contract Value (upto)</strong></td>
                           </tr>
                           </thead>
                           <tbody>
                           <tr>
                           <td>1</td>
                           <td>1 Individual</td>
                           <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;35,00,000</td>
                           <td>4</td>
                           <td>11 Individual</td>
                           <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;25,00,000</td>
                           </tr>
                           <tr>
                           <td>2</td>
                           <td>1 Individual</td>
                           <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;20,00,000</td>
                           <td>5</td>
                           <td>11 Individual</td>
                           <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;15,00,000</td>
                           </tr>
                           <tr>
                           <td>3</td>
                           <td>1 Individual</td>
                           <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;10,00,000</td>
                           <td>6</td>
                           <td>11 Individual</td>
                           <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;5,00,000</td>
                           </tr>
                           </tbody>
                           </table>
                           <h4 center=""></h4></div>
                       </div>  
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="ab-md-text">
                              <h2 class="about-header">JUNIOR GROUP<span class="about-header-span"></span></h2>
                               <h3>Registration Fees : 1200/-<span class="color-yellow">for NIC</span></h3> 
                               <p>There will be another set of Stars Hunt for children between the age group of 6 – 12 years.</p>
                           </div>
                       </div>
                       
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="et_pb_text_inner">
                               <table class="table-responsive">
                               <thead>
                               <tr>
                               <td center=""><strong>Rank</strong></td>
                               <td><strong>To be Selected for English &amp; Hindi</strong></td>
                               <td><strong>Contract Value</strong></td>
                               <td center=""><strong>Rank</strong></td>
                               <td><strong>To be Selected for Regional Language</strong></td>
                               <td><strong>Contract Value</strong></td>
                               </tr>
                               </thead>
                               <tbody>
                               <tr>
                               <td>1</td>
                               <td>1 Individual</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;20,00,000</td>
                               <td>4</td>
                               <td>11 Individual</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;15,00,000</td>
                               </tr>
                               <tr>
                               <td>2</td>
                               <td>1 Individual</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;13,00,000</td>
                               <td>5</td>
                               <td>11 Individual</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;10,00,000</td>
                               </tr>
                               <tr>
                               <td>3</td>
                               <td>1 Individual</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;8,00,000</td>
                               <td>6</td>
                               <td>11 Individual</td>
                               <td><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;2,50,000</td>
                               </tr>
                               </tbody>
                               </table>
                               <h4 center=""></h4>
                               <h6>*If you choose Online mode as your preferred appearance, you must upload
                               a 2 min video starting with your Name, State, Category and Registration
                               ID with your performance. Video must be shot with a fix camera. Avoid
                               any unnecessary video effect to your performance in case you use any
                               editing app or software. Violation of the same will lead to
                               disqualification.</h6>
                               <h6>*T&amp;C apply</h6></div>
                       </div>  
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="ab-md-text">
                              <h2 class="about-header">SCRIPT WRITER<span class="about-header-span" style="display: block;"> SENIOR GROUP</span></h2>
                               <h3>Application Fees : 1500/-<!--<span class="color-yellow">for NIC</span>--></h3> 
                               <p>This category will have Online Submission only. This category is only open for the Senior Group (13 – 55 years). One application is eligible to send only one entry.</p>
                               <div class="et_pb_text_inner"><ol>
                               <li>Scriptwriters will have to send the script of one feature film. A detailed scripting/ screenplay of the <strong>first ten scenes and the last scene</strong> of the feature film along with the summary of the storyline are to be submitted for this purpose.</li>
                               <li>The script has to be a detailed script. It should be a shooting script with visual treatment, shot division and detailed dialogues.</li>
                               <li>The script should also include brief character sketches of the main characters.</li>
                               <li>The script cannot be written using scriptwriting software.</li>
                               <li>The script has to be written in a word document and submitted in PDF format.</li>
                               <li>Our celebrity judges will select a specific number of scripts in each language (English, Hindi and other regional languages).</li>
                               <li>These scripts will be used to make Netwood Originals.</li>
                               <li>The selected Script writer will get prize money and the opportunity to write more scripts for Originals produced by Netwood.</li>
                               </ol>
                               <p>The chart below shows the number of script writers to be selected, the prize money to be given out and the number of projects to be offered to the selected script writers.</p>
                               </div> 
                           </div>
                       </div>
                       
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="et_pb_text_inner">
                               <table class="table-responsive">  
                               <thead>
                               <tr>
                               <td center="" style=""><strong>Language of the Script to be submitted</strong></td>
                               <td style=""><strong>No of Script Writers to be selected in each of the languages</strong></td>
                               <td style=""><strong>Prize Money (in INR) to be offered to each of the selected Script Writers</strong></td>
                               <td style=""><strong>Number of Scripts (for Netwood Originals) to be offered to each of the selected Script Writers</strong></td>
                               </tr>
                               </thead>
                               <tbody>
                               <tr>
                               <td style="">English</td>
                               <td style="">5 Individual</td>
                               <td style=""><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;4,00,000</td>
                               <td style="">5 Projects</td>
                               </tr>
                               <tr>
                               <td style="">Hindi</td>
                               <td style="">5 Individual</td>
                               <td style=""><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;3,00,000</td>
                               <td style="">4 Projects</td>
                               </tr>
                               <tr>
                               <td style="">Regional</td>
                               <td style="">55 Individual</td>
                               <td style=""><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;2,00,000</td>
                               <td style="">3 Projects</td>
                               </tr>
                               </tbody>
                               </table>
                               <h4 center="">STANDARD REMUNERATION WILL BE GIVEN SEPARATELY FOR THE EXTRA WORK.</h4></div>
                       </div>  
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="ab-md-text">
                              <h2 class="about-header">LYRICIST<span class="about-header-span" style="display: block;">SENIOR GROUP</span></h2>
                               <h3>Application Fees : 1500/-<!--<span class="color-yellow">for NIC</span>--></h3> 
                               <p>This category will have<b> Online Submission</b> only. This category is only open for the Senior Group (13 – 55 years). One application is eligible to send only one entry.</p>
                               <div class="et_pb_text_inner">
                                   <ol>
                                   <li>Each lyricist will have to send the lyric of one song.</li>
                                   <li>Our celebrity judges will select a specific number of lyrics in each language (English, Hindi and other regional languages). These lyrics will be used for Netwood Originals.</li>
                                   <li>The selected lyricists will get prize money and the opportunity to write more lyrics for Originals produced by Netwood.</li>
                                   </ol>
                               <p>The chart below shows the number of lyricists to be selected, the prize money to be given out and the number of projects to be offered to the selected lyricists.</p>
                               </div> 
                           </div>
                       </div>
                       
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="et_pb_text_inner">
                               <table class="table-responsive">
                               <thead>
                               <tr>
                               <td center="" style=""><strong>Language of the Lyrics<span>&nbsp;</span>to be submitted</strong></td>
                               <td style=""><strong>No of Lyrics<span>&nbsp;</span>Writers to be selected in each of the languages</strong></td>
                               <td style=""><strong>Prize Money (in INR) to be offered to each of the selected Lyrics Writers</strong></td>
                               <td style=""><strong>Number of Lyrics<span>&nbsp;</span>(for Netwood Originals) to be offered to each of the selected Lyrics Writers</strong></td>
                               </tr>
                               </thead>
                               <tbody>
                               <tr>
                               <td style="">English</td>
                               <td style="">5 Individual</td>
                               <td style=""><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;3,00,000</td>
                               <td style="">5 Projects</td>
                               </tr>
                               <tr>
                               <td style="">Hindi</td>
                               <td style="">5 Individual</td>
                               <td style=""><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;2,00,000</td>
                               <td style="">4 Projects</td>
                               </tr>
                               <tr>
                               <td style="">Regional</td>
                               <td style="">55 Individual</td>
                               <td style=""><img src="../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;1,00,000</td>
                               <td style="">3 Projects</td>
                               </tr>
                               </tbody>
                               </table>
                               <h4 center="">STANDARD REMUNERATION WILL BE GIVEN SEPARATELY FOR THE EXTRA SCOPE OF WORK.</h4>
                           </div>
                       </div>  
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="ab-md-text">
                              <h2 class="about-header">DIRECTOR<span class="team-span"> WITH TEAM</span><span class="about-header-span" style="display: block;">SENIOR GROUP</span></h2>
                               <h3>Application Fees : 2200/-<!--<span class="color-yellow">for NIC*</span>--></h3> 
                               <p>This category will have Online Submission only. This category is only open for the Senior Group (13 – 55 years). One application is eligible to send only one entry.</p>
                               <div class="et_pb_text_inner">
                                   <ol>
                                       <li>Each Director with her/ his team will have to send a short film of 20 minutes duration excluding the beginning and end titles. However, if the beginning and end titles are on the visuals of the cinematic narrative, then they would be included in the 20 minutes’ duration.</li>
                                       <li>The short film can be shot with any camera, (even a mobile camera would do), but the film has to be of HD quality. Also, the audio of the short film should not be of poor quality.</li>
                                       <li>In case the short film is in Hindi, Bengali or other regional languages, it should have subtitles in English.</li>
                                       <li>Our celebrity judges will select a specific number (see the chart below) of short films in each language (English, Hindi and other regional languages). These short films will be showcased on <em>netwood.tv.</em></li>
                                       <li>The Directors with teams, whose entries get selected by our judges, will be informed about their selection by the month of April.</li>
                                       <li>The selected Directors with their teams have to come to the Grand Finale of the Netwood Talent Hunt, Season 1, to be held in Kolkata in the month of May to receive their rewards.</li>
                                       <li>The selected Directors with their teams will get prize money and the opportunity to direct more short films produced by Netwood. (The chart below shows the number of directors with teams to be selected, the prize money to be given out and the number of projects to be offered to the selected directors and their teams.)</li>
                                       </ol>
                               </div> 
                           </div>
                       </div>
                       
                   </div>
                   <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="et_pb_text_inner">
                                    <table class="table-responsive">
                                    <thead>
                                    <tr>
                                    <td center="" style=""><strong>Language of the Script to be submitted</strong></td>
                                    <td style=""><strong>No of Directors to be selected in each of the languages</strong></td>
                                    <td style=""><strong>Prize Money (in INR) to be offered to each of the selected Directors </strong></td>
                                    <td style=""><strong>Number of Scripts (for Netwood Originals) to be offered to each of the selected Directors </strong></td>
                                    </tr>
                                    </thead>  
                                    <tbody>
                                    <tr>
                                    <td >English</td>
                                    <td >5 Individual</td>
                                    <td style=""><img src="../../../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;5,00,000</td>
                                    <td style="">3 Projects</td>
                                    </tr>
                                    <tr>
                                    <td style="">Hindi</td>
                                    <td style="">5 Individual</td>
                                    <td style=""><img src="../../../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;4,00,000</td>
                                    <td style="">2 Projects</td>
                                    </tr>
                                    <tr>
                                    <td style="">Regional</td>
                                    <td style="">55 Individual</td>
                                    <td style=""><img src="../../../assets/images/rupee.png" alt="rupee" width="7" height="11">&nbsp;3,00,000</td>
                                    <td style="">1 Projects</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    <h4 center="">APART FROM THESE, EACH OF THE DIRECTORS (65 IN TOTAL FROM ALL LANGUAGES) WILL BE GIVEN A CHANCE TO ASSIST A RENOWNED DIRECTOR FROM THE INDUSTRY FOR ONE CONTENT. STANDARD REMUNERATION WILL BE GIVEN FOR HIS ASSISTANCE.</h4></div>
                            </div>  
                        </div>  
                   </div>
                   </div>  
               </div>
           <div class="modal-footer">
          
         </div>
     </div>
   </div>
   
   </div>

   <app-auditionfooter></app-auditionfooter>
