<div class="mobile_footer">
    <div id="p1" style="background-color: rgb(25, 36, 46);"><a href="https://www.netwood.tv/"><img src="https://www.netwood.tv/assets/sfolder/home.png" style="width: 30%;"><h1 id="l">Home</h1></a></div>
    <div id="p2"><a href="https://www.netwood.tv/movies"><img src="https://www.netwood.tv/assets/sfolder/movie.png" style="width: 30%;"><h1 id="l">Movie</h1></a></div>
    <div id="p3"><a href="https://www.netwood.tv/web-shows"><img src="https://www.netwood.tv/assets/sfolder/shows.png" style="width: 30%;"><h1 id="l">Shows</h1></a></div>
    <div id="p4"><a href="https://www.netwood.tv/music"><img src="https://www.netwood.tv/assets/sfolder/music.png" style="width: 30%;"><h1 id="l">Music</h1></a></div>
    <div id="p5"><a href="https://www.netwood.tv/kids"><img src="https://www.netwood.tv/assets/sfolder/kids.png" style="width: 30%;"><h1 id="l">Kids</h1></a></div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!--<script src="../netwood/js/owl.carousel.js"></script>
  <script src="../netwood/js/main.js"></script>-->
  
