<p>aboutaudition works!</p>
<app-auditionheader></app-auditionheader>
 
  <div >
       <div class="container menu-back">
         <div class="">
              <h2>About Us</h2>
          
           
         </div>
         <div class="modal-body">
               <div class="modal-text-ab">
                   <div class="row">
                       <div class="col-md-6">
                           <div class="ab-md-text">
                              <h2 class="about-header">About</h2>  
                   <h3>NETWOOD IS A VIDEO STREAMING & SHARING OTT PLATFORM & A CONTENT PRODUCER TOO.</h3>
                   <p>It is a platform where you can watch good content from all over the world. Good content that includes both mainstream national and international movies and entertainment as well as OTT originals. View it on Android and iOS smartphones, Smart TV apps as well as the web.
   
   Little wonder, then, that it spells immense opportunities for content producers, content providers/ content aggregators who wish to use the Netwood platform to showcase their content and gain commercially through attractive revenue sharing models.</p>
                           </div>
                       </div>
                       <div class="col-md-6">
                           <div class="ab-md-text">
                               
                               <h2>NETWOOD ORIGINALS</h2>
                   <h3>NETWOOD is a Production House in its own right that will be producing original content of mainstream appeal as well.</h3>
                   <p>Films, short films, web series, stand-up comedy shows, music albums, music videos, dance shows, documentaries, lifestyle shows, and so on produced by Netwood will be available all over the world in theaters, on its Android, iOS, and Smart TV apps as well as on the web.</p>
                               <p>Netwood content will be produced in international languages like English and most of the major regional Indian languages like:</p>
                               <ol class="stage-ol">
                                   <li>Hindi</li>
                                   <li>Gujarati</li>
                                   <li>Telugu</li>
                                   <li>Kannada</li>
                                   <li>Marathi</li>
                                   <li>Malayalam</li>
                                   <li>Tamil</li>
                                   <li>Bengali</li>
                                   <li>Bhojpuri</li>
                                   <li>Punjabi</li>
                                   <li>Oriya and</li>
                                   <li>Assamese.</li>  
                               </ol>
                               <h4 class="mt-2" style="font-size: 20px;color:#000;">Netwood truly means mega entertainment!</h4>
                           </div>
                       </div>
                   </div>
                   
               </div>
           </div>
         <div class="modal-footer">
          
         </div>
       </div>
     </div>
     

     <app-auditionfooter></app-auditionfooter>

