<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
     <!-- <link rel="stylesheet" href="../netwood/css/owl.carousel.css">
      <link rel="stylesheet" href="../netwood/css/owl.theme.default.css">
      <link rel="stylesheet" href="../netwood/css/style.css">-->

    <title>Netwood App</title>
  </head>
  <body>
    <section class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-4">
                    <div class="netwood-toogle">
                        <span class="sp-color" style="font-size:30px;cursor:pointer" onclick="openNav()"><img src="assets/images/netwood/burger.png" class="img-fluid tg-width"></span>
                        <div id="mySidenav" class="sidenav">
                          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>  
                          <a href="#" class="name-pl br-bt">Payel Biswas</a>  
                          <a href="watch-history.html" class="br-bt">Watch History</a>  
                          <a href="netwood-about.html" class="br-bt">About</a>
                          <a href="netwood-privacy-policy.html" class="br-bt">Privacy Policy</a>
                          <a href="netwood-terms.html" class="br-bt">Terms</a>
                          <a href="#" class="br-bt">Contact</a>
                          <a href="#" class="br-bt">Logout</a>
                          <a href="#" class="br-bt" style="font-weight: 600;color: #d5dd25;">Be a Creator</a>
                            <a href="#" class="net-an-img"><img src="assets/images/netwood/android.png" class="img-fluid"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4">
                    <div class="logo">
                        <a href="#">
                            <img src="assets/images/netwood/logo.png" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-4">
                    <div class="search-btn">
                       <span class="sp-color-search" (click)="openNav_search()">
                           <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                        <div id="mySidenav-search" class="sidenav-search">
                            <div class="search-div">
                                <div class="row">
                                    <div class="col-md-8 col-10">&nbsp;</div>
                                    <div class="col-md-2 col-2 p-0">
                                        <a href="javascript:void(0)" class="closebtn" (click)="closeNav_search()">&times;</a>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0)" class="closebtn" (click)="closeNav_search()">&times;</a>
                          <div class="seach-div">
                              <div class="row">
                                  <div class="col-md-8 col-10" align="center">
                                    <input type="search" class="search-input" placeholder="Search..">
                                  </div>
                                  <div class="col-md-2 col-2 p-0">
                                    <button type="submit" class="btn-i-div"><i class="fa fa-search" aria-hidden="true"></i></button>
                                  </div>
                              </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>  
    </section>