<!doctype html>
<html lang="en">
  <head>  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- End Google Tag Manager -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	   
      <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     
      
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
       
    <title>Netwood</title>  
  </head>
  

<body > 

    <section class="header" id="particles-js">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-4">
                    <div class="logo">
                        <a href="#"><img src="../../../assets/images/StarLogo.png" class=" img-fluid"></a>
                        <div class="glow">&nbsp;</div>
                    </div>
                </div>
                <div class="col-md-6 col-8">  
                    <ul class="social-icon">
                        <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCUyNcOgsjnXATzwMsYkoBzg" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    </ul> 
                </div>
                <div class="col-md-3 col-10">
                    <div class="toll-no">
                        <p>Toll Free No:<span><a href="tel:1800120220018"><b>1800120220018</b></a></span></p>
                       
                    </div>
                </div>


                <!-- slidebar ------------------------------------------------->
                <div class="col-md-1 col-2">
                    <div id="mySidenav" class="sidenav">
                      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    
                        <a routerLink="/auditionform"><i class="fa fa-home f-home" aria-hidden="true"></i></a>
                      <a  routerLink="/aboutaudition"><div class="span4 proj-div" data-toggle="modal" data-target="#AboutModal">About</div></a>
                      <a  routerLink="/auditioncategories" ><div class="span4 proj-div" data-toggle="modal" data-target="#CategoriesModal">Categories</div></a>
                      <a  routerLink="/auditionjudges"><div class="span4 proj-div" data-toggle="modal" data-target="#JudgesMentorsModal">Judges & Mentors</div></a>
                      <a  routerLink="/upcomingaudition"><div class="span4 proj-div" data-toggle="modal" data-target="#UpcomingModal">Upcoming</div></a>
                      <a  routerLink="/auditiontermsandconditions"><div class="span4 proj-div" data-toggle="modal" data-target="#TCModal">T&C</div></a>  
                    </div>
                    <span style="font-size:30px;cursor:pointer;float: right; color: #fff;" onclick="openNav()">&#9776;</span>  
                     
                </div>
                

                
            </div>
        </div>
    </section>
 <!-- end header section -->

