<app-auditionheader></app-auditionheader>
<div  >
    <div class="">
       <div class="container menu-back">
         <div class="modal-header">
             <h2>Upcoming</h2>
            
         </div>
           <div class="modal-body">
               <div class="row">
                       <div class="col-md-12">
                           <div class="ab-md-text">  
                              <h2 class="about-header">NETWOOD STAGE SHOWS<span class="about-header-span"> </span></h2>  
                               <h3>WATCH OUT FOR THE MOST HAPPENING AND COOL NETWOOD STAGE SHOWS CALLED “NETWOOD AZADI”!<span class="color-yellow"></span></h3> 
   
                               
                               <p>These upbeat multi-city gigs with live music, dance, and stand-up comedies will be held in different cities. The “Azadi “ Music Festival will be one-day events with well-curated programs and professionally managed activities. The shows will have the look and feel of global festivals/ carnivals, where people can come and have a good time all through the day.</p>
                               
                               
                               <p>The stage will be the focal point where the live events will go on. Apart from that, the carnival area will be abuzz with exciting activities. There will be food stalls, beer kiosks, interesting pop-up stores, fashion corners, art galleries, artists with their canvasses, artisans, brand promotion events and a host of fun-activities. The shows will be much-awaited events in the cultural calendars of the cities we visit, attracting both the young and the ‘young at hearts’. </p>
                               
                               
                               <p>Amidst the Pandemic going on all around the world, the schedule for NETWOOD AZADI is currently being rescheduled and shall be announced soon.</p>
                               
                               <h3>The venues for Netwood Azadi are as follows:</h3>
                               <ul class="about-header">
                               <li>Kolkata</li>
                               <li>Delhi</li>
                               <li>Mumbai</li>
                               <li>Bangalore</li>
                               <li>Dhaka</li>
                               <li>UK</li>
                               <li>USA</li></ul>
                               
                               
                               <p>As Netwood is a production house in its own right, it will be producing original content too. Netwood will be producing original content like films, short films, web series, stand-up comedy shows, music albums, music videos, dance videos, documentaries, mockumentaries, lifestyle show videos, talk shows, animated movies, and so on which will be available all over the world on its Android, iOS, and Smart TV apps as well as on its website.</p>
                               
                               
                               
                               <p>Netwood content will be produced in English and most of the major regional Indian languages like:</p>
                               <ol class="stage-ol">
                                   <li>Hindi,</li>
                                   <li>Gujarati,</li>
                                   <li>Telugu,</li>
                                   <li>Kannada,</li>
                                   <li>Marathi,</li>
                                   <li>Malayalam,</li>
                                   <li>Tamil,</li>
                                   <li>Bengali,</li>
                                   <li>Bhojpuri,</li>
                                   <li>Punjabi,</li>
                                   <li>Oriya and</li>
                                   <li>Assamese.</li>
                               </ol>
                               
                               
                               
                               
                               
                               
                               <p><b>As you see, there is going to be a great flurry of activities in Netwood.</b></p>
                           </div>
                       </div>    
                   </div>
                   <div class="modal-text-ab">
                   <div class="row">
                       
                       <div class="col-md-7">
                           <div class="ab-md-text">
                              <h2 class="about-header" style="font-size: 22px;">ORIGINAL PROJECTS</h2>  
                               <h3>TENTATIVE PLAN</h3>
                               <div class="et_pb_text_inner">
                                   <table class="table-responsive">  
                               <tbody>
                               <tr>
                               <th>Section</th>
                               <th>In English</th>
                               <th>In Hindi</th>
                               <th>In Regional Language</th>
                               </tr>
                               </tbody>
                               <tbody>
                               <tr>
                               <td>Movies</td>
                               <td>10</td>
                               <td>25</td>
                               <td>200</td>
                               </tr>
                               <tr>
                               <td>Series</td>
                               <td>10</td>
                               <td>15</td>
                               <td>165</td>
                               </tr>
                               <tr>
                               <td>Shorts</td>
                               <td>30</td>
                               <td>60</td>
                               <td>660</td>
                               </tr>
                               <tr>
                               <td>Music Albums</td>
                               <td>10</td>
                               <td>15</td>
                               <td>165</td>
                               </tr>
                               <tr>
                               <td>Music Videos</td>
                               <td>5</td>
                               <td>10</td>
                               <td>50</td>
                               </tr>
                               <tr>
                               <td>Dance Videos</td>
                               <td>10</td>
                               <td>15</td>
                               <td>165</td>
                               </tr>
                               <tr>
                               <td>Stand-Up Comedy Videos</td>
                               <td>30</td>
                               <td>60</td>
                               <td>660</td>
                               </tr>
                               <tr>
                               <td>Documentaries</td>
                               <td>60</td>
                               <td>60</td>
                               <td></td>
                               </tr>
                               <tr>
                               <td>Mockumentaries</td>
                               <td>60</td>
                               <td>60</td>
                               <td></td>
                               </tr>
                               <tr>
                               <td>Lifestyle Show Videos</td>
                               <td>180</td>
                               <td>180</td>
                               <td></td>
                               </tr>
                               <tr>
                               <td>Talk Shows</td>
                               <td>15</td>
                               <td>60</td>
                               <td>660</td>
                               </tr>
                               <tr>
                               <td>Animated Movies</td>
                               <td>5</td>
                               <td>10</td>
                               <td>110</td>
                               </tr>
                               <tr>
                               <td>Animated Series</td>
                               <td>5</td>
                               <td>10</td>
                               <td>55</td>
                               </tr>
                               <tr>
                               <td>Animated Shorts</td>
                               <td>10</td>
                               <td>25</td>
                               <td>165</td>
                               </tr>
                               </tbody>
                               </table></div>
                               
                               <p>As you see, there is going to be a great flurry of activities in Netwood.</p>
                           </div>
                       </div>
                   </div>
                   
               </div>
           </div>
         
         <div class="modal-footer">
          
         </div>
       </div>
     </div>
   </div>
   <app-auditionfooter></app-auditionfooter>