<app-auditionheader></app-auditionheader>
<div  >
    <div class="">
       <div class="container menu-back">
         <div class="modal-header">
              <h2>T&C</h2>
          
           
         </div>
         <div class="modal-body">
               <div class="modal-text-ab">
                   <div class="row">
                       <div class="col-md-12">
                           <div class="ab-md-text">
                              <h2 class="about-header">Netwood Stars Hunt</h2>  
                               <h3>Terms & Conditions</h3>
                               <p>As Updated : 16/08/2020</p>
                               <ol class="stage-ol stage-font">
                                   <li>To be a contestant in the Netwood Stars Hunt, an applicant has to fill up a form on his/her own. After filling up the form properly, he/she has to confirm the acceptance of the Terms & Conditions before submitting the form.
                                   <span style="display: block;"><span class="note">NOTE :</span> Those who cannot fill up his/her form on their own and need third party assistance, in such cases as soon as the form is submitted, a system generated OTP will be sent to the applicant’s registered Mobile no. and email id as provided in the application form. The OTP will contain the terms & conditions. Applicant have to read and accept the terms & conditions by using the OTP.</span>
                                   </li>
                                   <li>An applicant has to pay a Registration Fees for registering his/her name in the Netwood Stars Hunt process.</li>
                                   <li>Final selection of the applicants is subject to the decision of the Netwood Stars Hunt’s Selection Body (the paramount selection body of Netwood).</li>
                                   <li>Complete application form will be considered as valid and accepted only when the applicant has paid the registration fees and only then Netwood Stars Hunt issues Netwood Identity card (NIC).</li>
                                   <li>Netwood Stars Hunt has reserved the right – to cancel or reject one’s registration form if it otherwise considers the same as detrimental to the interest of the Netwood.</li>
                                   <li>
                                       <span class="">a) Netwood Stars Hunt is four-tier screening set up. When one applies for physical contest, first he / she has to appear for performance before the Stars Hunt Jury for “Selection Round”, on getting through one appears before the “Mentors” for “Knockout round” for evaluation. Again in the Semi Final round, a participant has to re-appear before the mentors for getting selected for the final round. In the final round, a participant needs to appear before the Judges panel for finally being selected as NETWOOD STARS.PHYSICAL PERFORMANCE COVERS ONLY 4 CATEGORIES AS FOLLOWS : ACTOR, SINGER, DANCER, STAND UP COMEDIAN
                                       </span>
                                       <span class="d-block">
                                           b) In case of Online contest, one has to upload a video to their User Profile in .mp4 or PDF format which will be screened by the Stars Hunt Jury for selection round. On getting through the same, the same video/file is to be shown to the mentors for the Knockout Round.If a participant passes through the Knockout Round, he/she has to again upload a fresh video in mp4 format [For ACTOR, ACTOR (Jr),SINGER, SINGER (Jr), DANCER, DANCER (Jr), STAND UP COMEDIAN, STAND UP COMEDIAN (Jr)]  for semi-final round for evaluation by mentors whereas the same file for Script, Lyricist and Director with Team will be reviewed. On getting selected in the semi-finals, one has to upload a new video in mp4 format [For ACTOR, ACTOR (Jr),SINGER, SINGER (Jr), DANCER, DANCER (Jr), STAND UP COMEDIAN, STAND UP COMEDIAN (Jr)] whereas the same file for Script, Lyricist and Director with Team will be reviewed for evaluation by judges in the final round.
   Online performance covers all 7 categories as mentioned on the website.
   
                                       </span>
                                       <span class="d-block">Online performance covers all 7 categories as mentioned on the website.</span>
                                   </li>
                                   <li>Participant has to upload a specific video for the evaluation by the Stars Hunt Jury, Mentors and Judges as detailed in clause 6.</li>
                                   <li>The online video footage as well as the physical video footage of a participant maybe used by Netwood for PR Promotion and/or marketing. In such cases, no objection can be raised by the concerned participant. It’s needless to mention, he/she may also use the same footage.</li>
                                   <li>Submission of files of participants who are not selected, for categories SCRIPT WRITER, LYRICIST & DIRECTOR WITH TEAM will not be used or produced by Netwood Stars Hunt.</li>
                                   <li>In case of Physical contest, a participant has to report at the notified site for performance on their own including fooding and lodging if so required. All the participants (either PHYSICAL OR ONLINE) are requested to make direct contact with Netwood.</li>
                                   <li>In the Netwood Stars Hunt process, if anyone is cheated by any third party in any stage, Netwood will not be responsible for the same.</li>
                                   <li>In case of minor (below18 years) for registration and participation in the Netwood Stars Hunt, guardian’s confirmation is essential.</li>
                                   <li>After filling application and making the required payment of registration fees either through our registered online secured payment gateway or Netwood sanctioned payment center one has to draw the Netwood Indentity Card (NIC) from his/her user profile. But a participant cannot draw the NIC until and unless he uploads and/or furnish his/her KYC. The NIC will remain valid for three seasons, The NIC ensures a candidate to appear in the Netwood Stars Hunt held each year ; for three consecutive seasons without any further payment of fees. An applicant if so wish, can renew the NIC on payment of required fees afresh for next three seasons. Netwood Stars reserves the right to terminate one’s NIC card if the Netwood Stars deems it otherwise detrimental to the objects and interest of Netwood Entertainment Industry Pvt. Ltd.</li>
                                   <li>In case, Netwood Stars Hunt is cancelled or withheld due to the forces beyond the control of Netwood Stars Hunt, Netwood Stars Hunt shall not be responsible for the same and the candidate cannot claim for refund of the registration fees.</li>
                                   <li>Without NIC no one will be allowed to enter into Netwood Star Hunt Site for Physical contest.</li>
                                   <li>After making registration, if any applicant otherwise become unfit to appear in the Netwood Stars Hunt in such case Netwood Stars Hunt shall not be responsible for the same.</li>
                                   <li>On getting selected in the Netwood Stars Hunt, Netwood would promote you to get work as per your category, but if the production houses refuse to accept you, you may not get any work and for the same Netwood will not be made liable in any way.</li>
                                   <li>Netwood Stars Hunt’s venue, date, time, Jury, Judge, Mentor may vary from time to time and candidates, guardians or any third party will have no say in this matter.</li>
                                   <li>Netwood Stars Hunt registration fees for season 1 may be revised at any time at its discretion.</li>
                                   <li>In the Netwood Stars Hunt process if any application makes any nuisance or creates any fake news or tries to hamper Netwood brand image in any way, in such situation Netwood Entertainment Industry Pvt. Ltd. can take any legal action or can claim damages against him or her.</li>
                                   <li>Netwood Entertainment Industry Pvt. Ltd. shall have absolute discretion in holdings Netwood Stars Hunt’s Seasons.</li>
                                   <li>Applicants of Netwood Stars Hunt shall have no right to claim damages in any matter or initiate any legal action against Netwood Entertainment Industry Pvt. Ltd in any legal forum.</li>
                                   <li>If any problem crops up in between the Applicant/contestant and Netwood Stars Hunt then the same shall be resolved mutually.</li>
                                   <li>If any applicant becomes a favorite of any jury, judge on mentor in Netwood Stars Hunt, the same shall not guarantee that he/she gets selected in Netwood Stars Hunt.</li>
                                   <li>Selection process of Netwood Stars Hunt is not subject to any challenge either by the candidate, their family members and/or any third party.</li>
                                   <li>It might happen that few candidates are selected in the Netwood Stars Hunt Process than what was proposed in ad-promotion and in marketing material or in website. This might happen due to lack of talent among the applicant/contestant and no applicant/contestant can challenge this Netwood Stars Hunt Process.</li>
                                   <li>Jury, Mentors and Judges of Netwood Stars Hunt shall have the full discretion to select or reject his/her candidature at any point of time in the process of Star Hunt as per their judgment.</li>
                                   <li>A participant getting selected in the Netwood Stars Hunt Process is entitled to enter into a contract with Netwood Stars for a period of 5 years as per the guidelines laid down by the Netwood Legal Cell. Any action on the part of the contracted Netwood Stars contrary to the interest of Netwood Entertainment Industry Pvt. Ltd may terminate his/her contract.</li>
                                   <li>Any sorts of influencing action on the part of the participant may get his/her selection cancelled.</li>
                                   <li>If a participant remain unsuccessful in the Netwood Stars Hunt process and gets depressed, due to his/her lack of competitive spirit, he/she cannot claim any sorts of damage or compensation from Netwood Entertainment Industry Pvt. Ltd.</li>
                                   <li>The particulars furnished by the applicant are deemed to be true and correct. If an applicant furnish any incorrect or misleading information, Netwood Stars Hunt will not be responsible for the same. If such facts come into the knowledge of Netwood Stars Hunt reserves the right to discard the said application.</li>
                               </ol>
                           </div>  
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="ab-md-text">
                               
                               <h2>WHY REGISTRATION FEES?</h2>
                               <p>Films, short films, web series, stand-up comedy shows, music albums, music videos, dance shows, documentaries, lifestyle shows, and so on produced by Netwood will be available all over the world in theaters, on its Android, iOS, and Smart TV apps as well as on the web.</p>
                               <p>Why are we charging Registration Fee for enrolling in Netwood Stars Hunt?</p>
                               <ol class="stage-ol stage-font">
                                   <li>Once you enroll into the system and complete your registration, you receive a NIC (Netwood Identity card), which can be used for three seasons consecutively for participating without any extra charges. The NIC is valid for three seasons in case you don’t get through the first time or the second time, another more chance.</li>
                                   <li>The NIC holders (Netwood Identity Card) will also have a chance of getting different gifts and special offers in their User panels from time to time. A valid NIC ensures validity of a contestant’s User Profile.</li>
                                   <li>Everyone gets a user profile where they get to upload their own performance files, which are later reviewed by mentors and judges along with their valuable comments which can be viewed by the participants.</li>
                                   <li>Upon selection, participants will get a five year contract with Netwood Stars for projects of upto 50 Lacs as per categories. Their marketing, PR, grooming and promotion will be completely taken care of by Netwood Stars. Netwood Stars will also help these selected participants for getting opportunities of other production houses and events.</li>
                                   <li>Jury, Judges and mentors review your files for three seasons on the user panel and review your performance at physical contest venues in case you don’t get through one season, you can apply for the next two, WITHOUT any extra charges using the same NIC.</li>
                                   <li>Upon selection, our Netwood Stars Hunt Jury, mentors and judges provide their valuable comments and suggestions for every participant via videos and physically for Physical contest.</li>
                                   <li>Upon rejection, our Netwood Stars Hunt Jury, mentors and judges provide their valuable feedback and comments via notes for our participants, which they can take into account and later use it to their advantage and appear for the next two seasons.</li>
                                   <li>Netwood Stars Hunt physical contest which will be held in more than 30 locations across India, where we will be handling all the necessary charges and arrangements required to host our jury, mentors and judges at every individual venue and for all the categories and stages.</li>
                                   <li>Post the Knockout round, we take care of the PR, Marketing, Training and Grooming of the participants who get selected, without any additional charges till the final round.</li>
                                   <li>Every single contestant gets 24×7 support and customer service support from our end post payment.</li>
                                   <li>We appreciate and encourage the seriousness of every participant and hence provide end-to-end support to all our participants against the nominal registration fee in order to maintain the decorum of the forum.</li>  
                               </ol>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="ab-md-text">
                               
                               <h2>REFUND POLICY</h2>
                               <p>A contestant under compelling circumstances may withdraw himself/herself from the contest, but in such case he/she has to intimate his/her decision within 7 days from the date of registration through his/her registered email ID. In case a contestant withdraws himself/herself, he/she will be refunded his/her registration fee only after 10% deduction of the fee. Refund will be made within 7 days to the account from which the concerned contestant made the payment. No such request will be entertained after 7 days.</p>
                               <ul class="stage-ol stage-font">
                                   <li>In case of physical contest type, you cannot claim the amount if you register within a time-span of less than 7 days of contest date.</li>
                                   <li>It is to be noted that if you have submitted your KYC documents and/or submitted your performance file, you will not be able to claim your refund.<span class="note d-block">For Refund, write us to refund@netwood.tv with your application id, name and bank details where you want the amount to be settled.</span></li>
                                   <li>Netwood Entertainment Industry (P) Ltd. reserves all the rights, in its sole discretion, to make changes or modifications to the above mentioned Terms and Conditions at any point of time and for any reason without prior notification.</li>
                                   
                               </ul>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
         <div class="modal-footer">
          
         </div>
       </div>
     </div>
   </div>
   <app-auditionfooter></app-auditionfooter>